statemachinecallback.asl.json
{
    "Comment": "An example of the Amazon States Language for starting a task and waiting for a callback.",
    "StartAt": "Start Task And Wait For Callback",
    "States": {
      "Start Task And Wait For Callback": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl": "https://sqs.ap-southeast-1.amazonaws.com/748941532207/SFW-Module-4-SQSQueue-4aj8YTGAOsVT",
          "MessageBody": {
            "MessageTitle": "Task started by Step Functions. Waiting for callback with task token.",
            "TaskToken.$": "$$.Task.Token"
          }
        },
        "Next": "Notify Success",
        "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "Notify Failure"
        }
        ]
      },
      "Notify Success": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message": "Callback received. Task started by Step Functions succeeded.",
          "TopicArn": "arn:aws:sns:ap-southeast-1:748941532207:SFW-Module-4-SNSTopic-Kug0XhKkZgE8"
        },
        "End": true
      },
      "Notify Failure": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message": "Task started by Step Functions failed.",
          "TopicArn": "arn:aws:sns:ap-southeast-1:748941532207:SFW-Module-4-SNSTopic-Kug0XhKkZgE8"
        },
        "End": true
      }
    }
  }